*{
	margin:0;
	padding:0;
	border:0;	
}
body{
	background : #FFF;
	color : #eee;
}
div.banner{
	position:relative;
	margin:200px auto 0;
	width:900px; 	
	perspective:1000;
	-webkit-perspective:1000;
	-moz-perspective:1000;
	-o-perspective:1000;
	-ms-perspective:1000;
}
div.banner ul{
	margin-top:10px;	
	outline:1px red solid;
	
}
div.banner ul li{
	display:block;
	position:absolute;
	outline:2px green solid;
	-webkit-transform:rotateY(86deg);
}
div.banner ul li img{
	display:block;
	outline:1px blue solid;
}
div.banner .next{
	width:40px;
	height:40px;
	display:block;
	position:absolute;
	right:0;
	top:110px;
	background-image:url('image/next.png');
	background-repeat:no-repeat;
}
div.banner .back{
	width:40px;
	height:40px;
	display:block;
	position:absolute;
	left:0;
	top:110px;
	background-image:url('image/prev.png');
	background-repeat:no-repeat;
}
	
